body.book-list {
  margin: 0;

  .list-wrap {
    .list-content{
      display: inline-block;
      width: calc(100% - 250px);
      border-right: solid 2px $color-gray100;

      .content-item {

      }
    }
    .list-side {
      display: inline-block;
      vertical-align: top;
      width: 200px;
    }
  }
}