body.book-list {
  margin: 0;

  .list-wrap {
    .list-content{
      display: inline-block;
      max-width: calc(100% - 300px);
      border-right: solid 2px $color-gray100;

      .content-item {
        .item-thumnail{
          display: inline-block;
        }
        .item-info {
          display: inline-block;
          vertical-align: top;
        }
      }
      .content-links {
        .links-wrapper {
        }
      }

    }
    .list-side {
      display: inline-block;
      vertical-align: top;
      width: 250px;
    }
  }

}