header {
  .base-nav {
    background: $color-indigo300;
    min-width: 500px;
    min-height: 50px;

    .nav-content {
      width: 1280px;
      margin: 0 auto;
      padding: 13px 0;

      a {
        color: $color-white;

        span {
          margin: 0 0 0 8px;
        }
      }
    }
    .nav-logo-wrapper {}
    .left-nav {}
    .searchbox-wrapper {
      min-width: 250px;
      width: 60%;

      input {
        width: calc(100% - 30px);
      }

    }
    .right-nav {}
    .nav-divider {border-left: 1px solid $color-indigo400;}
    .gnb-menu {color: $color-white; &:hover {background-color: $color-indigo200;}}
  }
}