{% extends "base.html" %}
{% load i18n static %}
{% block layout %}
  {% block header %}
    <header class="header">
      <section class="base-nav">
        <div class="container-1280 p-16">
          <nav class="d-flex align-items-center ">
            <a class="nav-logo-wrapper gnb-menu mr-20 title-2-light" href="/book/">ebookFinder
            </a>
            <div class="searchbox-wrapper">
              <form method="get" action="/book/list">
                <div class="form-group d-flex align-items-center">
                  <label class="mr-10">
                    <i class="fas fa-search fa-lg"></i>
                  </label>
                  <input class="form-control-lg" type="text" name="query"/>
                </div>
              </form>
            </div>
            <div class="left-nav push hide">
              <a href="" class="gnb-menu body-2">GNB1</a>
              <a href="" class="gnb-menu body-2">GNB2</a>
            </div>
            <div class="right-nav push hide">
              <div class="right-nav-list">
                <a class="right-nav-item" href="#" data-toggle="dropdown">
                  <i class="fas fa-bars fa-2x" style="color: #000;"></i>
                </a>
                <div class="nav-dropdown hide">
                  <a tabindex="-1" class="nav-dropdown-item body-2" href=""><i class="fas fa-pen"></i>dropdown1
                  </a>
                  <div class="nav-divider"></div>
                  <a tabindex="-1" class="nav-dropdown-item body-2" href=""><i class="fas fa-pen"></i>dropdown2
                  </a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </section>
    </header>
  {% endblock %}

  {% block message %}
  {% endblock message %}

  <div class="gaia">
    {% block content_wrapper %}
      {# 컨텐츠 영역 #}
    {% endblock %}
  </div>
  {% block page_tooltip %}{% endblock %}
  {% block footer_remover %}{% endblock %}
{% endblock %}

{% block extrascripts %}
  <script>

  </script>
{% endblock %}
