.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 400;
  color: $color-gray900;
  line-height: 18px;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 4px;

  // Empty badges collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for badges in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
}

.badge-info {
  background-color: $color-gray100;
  padding: 2px 7px;
  min-width: 50px;
}



