{% extends "layout.html" %}
{% load i18n static %}
{% block title %}{{ book.title }}{% endblock %}
{% block body_class %}book-detail{% endblock body_class %}
{% block extrahead %}
{% endblock extrahead %}
{% block content_wrapper %}

  <div>
    <section class="container-1280">
      <div>{{ book.title }}</div>
      <div>{{ book.isbn }}</div>
      <div>{{ book.publisher }}</div>
      <div>{{ book.authors }}</div>
      <div>{{ book.date_publish }}</div>
      <div>{{ book.translators }}</div>
      <div>{{ book.contents }}</div>
      <div>{{ book.sell_status }}</div>
      <div>{{ book.dt_created }}</div>
      <div>
        <img src="{{ book.thumbnail }}">
      </div>
    </section>
  </div>
  <div class="container-1280">
    <section>
      <div> ebook links</div>
      <div>
      {% for ebook in ebooks %}
        <a href="{{ ebook.url }}">{{ ebook.book_store }}</a>
      {% endfor %}
      </div>
    </section>
  </div>
{% endblock content_wrapper %}

{% block extrascripts %}
  {{ block.super }}
{% endblock %}