{% extends "layout.html" %}
{% load i18n static %}
{% block title %}{{ query }}의 검색결과{% endblock %}
{% block body_class %}book-list{% endblock body_class %}
{% block extrahead %}
  {% block meta_description %}
    <meta property="title" content="{{ query }}의 검색 결과 | 이북모임?!"/>
    <meta property="og:title" content="{{ query }}의 검색 결과 | 이북모임?!"/>
    <meta name="description" content="이북모임?!"/>
    <meta property="og:description" content="이북모임?!"/>
    <meta property="og:image" content="이북모임?!"/>
    <meta property="keyword" content="이북모임?!,전자책,ebook,pdf,책,서점,독후감,리뷰,">
  {% endblock %}
{% endblock extrahead %}
{% block content_wrapper %}
  <div class="list-wrap p-0-16 container-1280">
    <h1 class="list-meta subtitle-1 text500">'{{ query }}'의 검색 결과 | {{ books_meta.total_count }} 건
    </h1>
    <section class="list-content">
      <ul style="list-style-type: none;">
        {% for book in books %}
          <li>
            <a class="content-item link link-block" href="/book/{{ book.isbn | slugify }}">
              <img class="item-thumnail" src={% if book.thumbnail %}"{{ book.thumbnail }}"{% else %}{% static "img/no-book-img.png" %} width="70"{% endif %} height="100">
              <div class="item-info">
                <h2 class="subtitle-2-bold info-title">{{ book.title }}</h2>
                <span class="caption-1 info-etc">{{ book.authors|join:',' }}{% if book.translators %} | {{ book.translators|join:',' }}{% endif %}</span>
                <span class="caption-1 info-etc">| {{ book.publisher }}</span>
                <span class="caption-1 info-etc">| {{ book.price }}원</span>
                <span class="caption-1 info-etc">| {{ book.datetime|slice:":-19" }}</span>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
    <section class="list-side">
    </section>
  </div>
{% endblock content_wrapper %}

{% block extrascripts %}
  {{ block.super }}
{% endblock %}