<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>검색</title>
</head>
<body>
  <form method="post">{% csrf_token %}
    <label>검색
      <input type="text" name="query"/>
    </label>
  </form>

  <div>
    <div>
      {{ books_meta }}
    </div>
      {% for book in books %}
        <div>
          <div style="cursor: pointer">
            <a href="/book/{{ book.isbn | slugify }}">
              <span>{{ book.title }}</span>
              <span>{{ book.isbn }}</span>
            </a>
          </div>
          <img src="{{ book.thumbnail }}">
        </div>
      {% endfor %}
  </div>
</body>
</html>

<script>

</script>